<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events timingLevel="custom">
      
      <event name="custom:publishInfo">
        <handler type="Sitecore.Publishing.Progression.Core.EventHandlers.PublishInfoEventHandler, Sitecore.Publishing.Progression" method="Handle"/>
      </event>

      <event patch:replace="*[@name='publish:itemProcessed']" name="publish:itemProcessed">
        <handler type="Sitecore.Publishing.Progression.Core.ItemProcessing, Sitecore.Publishing.Progression" method="OnItemProcessed" />
      </event>
    
    </events>
  </sitecore>
</configuration>
